@keyframes countToThree {
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.countToThree {
    animation: .7s countToThree 3;
}

.container {
    width: 650px;
    margin: 0 auto;
    text-align: center;
    padding: 25 px;
}

.results {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: x-large;
}

.selection {
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    cursor: pointer;
    margin-left: 2rem;
    margin-top: 1rem;
}

.selection:hover {
    transform: scale(1.4);
}

.result-score {
    margin-left: 1rem;
    font-size: 2rem;
    color: maroon;
}
.result-selection {
    opacity: .5;
}
.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}
